# Ignore everything
*

# But not these files...
!/.gitignore
!/LICENSE

# Don't ignore neovim config
!/.config
!.config/nvim
!.config/nvim/**/*
# Ignore neovim config plugins
.config/nvim/lazy-lock.json

# Don't ignore solargraph config
!.config/solargraph
!.config/solargraph/**/*
