# Ignore everything
*

# But not these files...
!/.gitignore
!/LICENSE

!/.config

# Don't ignore ghostty config
!.config/ghostty
!.config/ghostty/**/*

# Don't ignore neovim config
!.config/nvim
!.config/nvim/**/*

# Don't ignore local bin scripts
!.local
!.local/bin
!.local/bin/obs_bundle_development.sh
