# Ignore everything
*

# But not these files...
!/.gitignore
!/LICENSE

# Don't ignore neovim config
!/.config
!.config/nvim
!.config/nvim/**/*

# Don't ignore local bin scripts
!.local
!.local/bin
!.local/bin/obs_bundle_development.sh
